*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
#about{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-size: contain; */
  color: rgb(1, 3, 3);
  /* height: 100vh; */
}
#home{
  background-color: black;
  height: 120vh;
}
#service{
  background-color: aquamarine;
}
.contact{
  margin: 0 auto;
}
.mydiv{
  width: 100%;
  height: 10px;
  background-color: aqua;
  margin: 25px;
}
.contain{
  margin-top: 70px;
}